<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>wn46699</id>
            <username>wn46699</username>
            <password>qmyfvefx5x7l2ft5z3pqs7zlneyutvpbuypsvcfjwdedrvydm2ia</password>
        </server>
    </servers>
</settings>